---
import Logo from "@/components/Logo.astro";
import config from "@/config/config.json";
import menu from "@/config/menu.json";
import Button from "@/shortcodes/Button";
import NavDropDown from "./NavDropDown";

export interface ChildNavigationLink {
  name: string;
  url: string;
}

export interface NavigationLink {
  name: string;
  url: string;
  hasChildren?: boolean;
  children?: ChildNavigationLink[];
}

const { main }: { main: NavigationLink[] } = menu;
const { navigation_button, settings } = config;
const { pathname } = Astro.url;
---

<header class={`header z-50 ${settings.sticky_header && "fixed top-0"}`}>
  <nav class="navbar container">
    <!-- logo -->
    <div class="order-0" data-aos="zoom-in-sm">
      <Logo />
    </div>
    <!-- navbar toggler -->
    <!-- <input id="nav-toggle" type="checkbox" class="hidden" />
    <label
      for="nav-toggle"
      class="order-3 cursor-pointer flex items-center lg:hidden text-text-light lg:order-1"
      data-aos="fade-up-sm"
    >
      <svg id="show-button" class="h-6 fill-current block" viewBox="0 0 20 20">
        <title>Menu Open</title>
        <path d="M0 3h20v2H0V3z m0 6h20v2H0V9z m0 6h20v2H0V0z"></path>
      </svg>
      <svg id="hide-button" class="h-6 fill-current hidden" viewBox="0 0 20 20">
        <title>Menu Close</title>
        <polygon
          points="11 9 22 9 22 11 11 11 11 22 9 22 9 11 -2 11 -2 9 9 9 9 -2 11 -2"
          transform="rotate(45 10 10)"></polygon>
      </svg>
    </label> -->
    <!-- /navbar toggler -->
    <!-- <ul id="nav-menu" class="navbar-nav max-lg:shadow-lg">
      {
        main.map((menu, index) => (
          <div data-aos="fade-up-sm" data-aos-delay={50 + index * 50}>
            {menu.hasChildren ? (
              <NavDropDown menu={menu} pathname={pathname} client:load />
            ) : (
              <li class="nav-item">
                <a
                  href={menu.url}
                  class={`nav-link block ${(pathname === `${menu.url}/` || pathname === menu.url) && "active"}`}
                >
                  {menu.name}
                </a>
              </li>
            )}
          </div>
        ))
      }
      {
        navigation_button.enable && (
          <li
            class="mt-4 inline-block lg:hidden"
            data-aos="fade-up-sm"
            data-aos-delay={50 + main.length * 50}
          >
            <a href={navigation_button.link} class="btn-md btn-primary">
              <span>{navigation_button.label}</span>
            </a>
          </li>
        )
      }
    </ul> -->
    <div
      class="order-1 ml-auto flex items-center md:order-2 lg:ml-0"
      data-aos="fade-up-sm"
      data-aos-delay={50 + main.length * 50}
    >
      {
        navigation_button.enable && (
          <div class="hidden lg:inline-block">
            <button
              onclick="if(window.$crisp)window.$crisp.push(['do', 'chat:open'])"
              class="btn-primary rounded-full block px-8 py-4 text-center bg-black"
            >
              Get Started
            </button>
          </div>
        )
      }
    </div>
  </nav>
</header>
