---
import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { markdownify } from "@/lib/utils/textConverter";
import CallToAction from "@/partials/CallToAction.astro";
import type { CollectionEntry } from "astro:content";
import { getEntry, render } from "astro:content";

// get static paths for all pages
export async function getStaticPaths() {
  const COLLECTION_FOLDER = "pages";

  const pages = await getSinglePage(COLLECTION_FOLDER);

  const paths = pages.map((page) => ({
    params: {
      regular: page.id,
    },
    props: { page },
  }));
  return paths;
}

const { page } = Astro.props;
const { title, meta_title, description, hero, image, button } = page.data;
const { Content } = await render(page);

const call_to_action = (await getEntry(
  "ctaSection",
  "call-to-action"
)) as CollectionEntry<"ctaSection">;
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <section class="section pt-24">
    <div class="container">
      <div class="max-w-2xl mx-auto text-center">
        {
          hero?.title && (
            <h2
              class="mb-4"
              data-aos="fade-up-sm"
              set:html={markdownify(hero?.title)}
            />
          )
        }

        {
          hero?.content && (
            <p
              class="mb-2"
              set:html={markdownify(hero.content)}
              data-aos="fade-up-sm"
            />
          )
        }

        {
          hero?.update && (
            <p
              class="mb-16"
              set:html={markdownify(hero.update)}
              data-aos="fade-up-sm"
            />
          )
        }

        {
          button?.enable && (
            <a
              href={button?.link}
              class="btn btn-primary"
              data-aos="fade-up-sm"
            >
              {button?.label}
            </a>
          )
        }
      </div>

      <div
        class="max-w-6xl mx-auto rounded-2xl md:rounded-[32px] p-5 md:px-[34px] md:py-[24px] bg-gradient"
        data-aos="fade-up-sm"
      >
        <div class="row justify-center">
          <div class="col-12">
            <div class="content" data-aos="fade-up-sm">
              <Content />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <CallToAction call_to_action={call_to_action.data} />
</Base>
