---
import ImageMod from "@/components/ImageMod.astro";
import DynamicIcon from "@/helpers/DynamicIcon";
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import CallToAction from "@/partials/CallToAction.astro";
import type { CollectionEntry } from "astro:content";
import { getEntry } from "astro:content";

const storyIndex = (await getEntry(
  "customerStory",
  "-index"
)) as CollectionEntry<"customerStory">;
const { title, meta_title, description, story } = storyIndex.data;

const call_to_action = (await getEntry(
  "ctaSection",
  "call-to-action"
)) as CollectionEntry<"ctaSection">;
---

<Base title={title} meta_title={meta_title} description={description}>
  <section class="section">
    <div class="container">
      <div class="max-w-4xl mx-auto">
        <h2
          set:html={markdownify(story.title)}
          class="mb-14 text-center"
          data-aos="fade-up-sm"
        />
        <div class="row justify-center g-4">
          {
            story.stories.map((s: any, index: number) => (
              <div
                class="col-12 lg:col-5 md:col-6"
                data-aos="fade-up-sm"
                data-aos-delay={50 + index * 50}
              >
                <div class="bg-gradient rounded-2xl p-5">
                  <div class="flex items-center justify-between mb-4">
                    <div class="flex items-center">
                      <div class="rounded-full overflow-hidden mr-3">
                        <ImageMod
                          class="object-cover"
                          src={s.customerAvatar}
                          alt="customer image"
                          height={40}
                          width={40}
                          format="webp"
                        />
                      </div>
                      <div>
                        <p
                          class="font-medium text-text-light text-base"
                          set:html={s.customerName}
                        />
                        <p class="text-xs" set:html={s.customerDesignation} />
                      </div>
                    </div>
                    <a href={s.social.url} class="text-text-light">
                      <div>
                        <DynamicIcon
                          className="inline-block rounded-full w-8 size-full bg-border/80 p-2"
                          icon={s.social.icon}
                        />
                      </div>
                    </a>
                  </div>
                  <p class="text-sm" set:html={s.story} />
                </div>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </section>

  <CallToAction call_to_action={call_to_action.data} />
</Base>
