---
import ImageMod from "../ImageMod.astro";

const { app } = Astro.props;
---

<div class="h-[60%] px-[5%] pt-6">
  <div class="relative aspect-square">
    <div
      class="w-full h-full relative rounded-full border border-white/10"
      data-aos="zoom-in-sm"
    >
      <div
        class="absolute w-3/4 h-3/4 top-[12.5%] left-[12.5%] rounded-full border border-white/10"
        data-aos="zoom-in-sm"
      >
      </div>

      <!-- Top -->
      <div
        class="absolute top-0 left-1/2 -translate-x-1/2 -translate-y-1/2 w-12 h-12 rounded-full flex items-center justify-center bg-blue-500/10 hover:bg-white/20 hover:scale-110 transition-all duration-300"
      >
        <div data-aos="zoom-in-sm">
          <ImageMod
            src={app[2]}
            width={32}
            height={32}
            loading={"lazy"}
            alt="image"
            format="webp"
            class="object-cover"
          />
        </div>
      </div>

      <!-- Top Right -->
      <div
        class="absolute top-[20%] right-[10%] translate-x-1/2 -translate-y-1/2 w-12 h-12 rounded-full flex items-center justify-center bg-white/10 hover:bg-white/20 hover:scale-110 transition-all duration-300"
      >
        <div data-aos="zoom-in-sm">
          <ImageMod
            src={app[1]}
            width={32}
            height={32}
            loading={"lazy"}
            alt="image"
            format="webp"
            class="object-cover"
          />
        </div>
      </div>

      <!-- Bottom Right -->
      <div
        class="absolute top-1/2 right-0 translate-x-1/2 -translate-y-1/2 w-12 h-12 rounded-full flex items-center justify-center bg-purple-500/10 hover:bg-white/20 hover:scale-110 transition-all duration-300"
      >
        <div data-aos="zoom-in-sm">
          <ImageMod
            src={app[0]}
            width={32}
            height={32}
            loading={"lazy"}
            alt="image"
            format="webp"
            class="object-cover"
          />
        </div>
      </div>

      <!-- Bottom Left -->
      <div
        class="absolute top-1/2 left-0 -translate-x-1/2 -translate-y-1/2 w-12 h-12 rounded-full flex items-center justify-center bg-white/10 hover:bg-white/20 hover:scale-110 transition-all duration-300"
      >
        <div data-aos="zoom-in-sm">
          <ImageMod
            src={app[3]}
            width={32}
            height={32}
            loading={"lazy"}
            alt="image"
            format="webp"
            class="object-cover"
          />
        </div>
      </div>

      <!-- Top Left -->
      <div
        class="absolute top-[20%] left-[10%] -translate-x-1/2 -translate-y-1/2 w-12 h-12 rounded-full flex items-center justify-center bg-white/10 hover:bg-white/20 hover:scale-110 transition-all duration-300"
      >
        <div data-aos="zoom-in-sm">
          <ImageMod
            src={app[4]}
            width={32}
            height={32}
            loading={"lazy"}
            alt="image"
            format="webp"
            class="object-cover"
          />
        </div>
      </div>

      <!-- Center Grid -->
      <div
        class="absolute left-1/2 bottom-1/2 -translate-x-1/2 translate-y-1/2"
      >
        <div data-aos="zoom-in-sm">
          <ImageMod
            src="/images/pyramid.svg"
            width={0}
            height={0}
            alt="image"
            format="svg"
            loading={"lazy"}
          />
        </div>
      </div>
    </div>
  </div>
</div>
