---
import { markdownify } from "@/lib/utils/textConverter";
import type { CollectionEntry } from "astro:content";
import ClientLogoSlider from "./ClientLogoSlider.astro";

type Props = {
  hero: CollectionEntry<"homepage">["data"]["hero"];
};

const { hero } = Astro.props;
---

<section class="section lg:pt-20 relative">
  <div class="container">
    <div class="row justify-center">
      <div class="col-12 lg:col-10">
        <div class="mb-24">
          <h1
            set:html={markdownify(hero.title)}
            class="font-normal text-center mb-5 bg-gradient-to-b from-white via-gray-800 to-white bg-clip-text text-transparent"
            data-aos="fade-up-sm"
          />
          <p
            set:html={markdownify(hero.content)}
            class="text-center text-balance mb-11 lg:w-2/3 mx-auto"
            data-aos="fade-up-sm"
          />

          <div class="flex justify-center mb-5" data-aos="fade-up-sm">
            <div class="gradient-border group rounded-full p-[2px] transition-all duration-500">
              <button
                onclick="if(window.$crisp)window.$crisp.push(['do', 'chat:open'])"
                class="btn-primary rounded-full block px-8 py-4 text-center bg-black"
              >
                Get Started
              </button>
            </div>
          </div>

          <!-- <p
            set:html={markdownify(hero.form.subtitle)}
            class="text-center text-base text-balance  mb-11"
            data-aos="fade-up-sm"
          /> -->
            <!-- Decorative Grid Pattern at Bottom -->
        </div>
      </div>
      <div class="col-12 lg:col-10 lg:mt-24 lg:mb-28">
        <p
          set:html={markdownify(hero.clients.title)}
          class="font-medium text-balance text-text-light text-center mb-7"
          data-aos="fade-up-sm"
        />
        <ClientLogoSlider logos={hero.clients.logos} />
      </div>
    </div>
  </div>
  

</section>


