---
import TwSizeIndicator from "@/components/TwSizeIndicator.astro";
import config from "@/config/config.json";
import theme from "@/config/theme.json";
import { plainify } from "@/lib/utils/textConverter";
import Footer from "@/partials/Footer.astro";
import Header from "@/partials/Header.astro";
import "@/styles/main.css";
import { AstroFont } from "astro-font";
import { ClientRouter } from "astro:transitions";
import "aos/dist/aos.css";
import "swiper/css";
import ImageMod from "./components/ImageMod.astro";

// font families
const pf = theme.fonts.font_family.primary;
const sf = theme.fonts.font_family.secondary;
const tf = theme.fonts.font_family.tertiary;

let fontPrimary, fontSecondary, fontTertiary;
if (theme.fonts.font_family.primary) {
  fontPrimary = theme.fonts.font_family.primary
    .replace(/\+/g, " ")
    .replace(/:[ital,]*[ital@]*[wght@]*[0-9,;.]+/gi, "");
}
if (theme.fonts.font_family.secondary) {
  fontSecondary = theme.fonts.font_family.secondary
    .replace(/\+/g, " ")
    .replace(/:[ital,]*[ital@]*[wght@]*[0-9,;.]+/gi, "");
}
if (theme.fonts.font_family.tertiary) {
  fontTertiary = theme.fonts.font_family.tertiary
    .replace(/\+/g, " ")
    .replace(/:[ital,]*[ital@]*[wght@]*[0-9,;.]+/gi, "");
}

// types for frontmatters
export interface Props {
  title?: string;
  meta_title?: string;
  description?: string;
  image?: string;
  noindex?: boolean;
  canonical?: string;
}

// destructure frontmatter
const { title, meta_title, description, image, noindex, canonical } =
  Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <!-- favicon -->
    <link rel="shortcut icon" href={config.site.favicon} />
    <!-- theme meta -->
    <meta name="theme-name" content="safeshield-astro" />
    <meta name="msapplication-TileColor" content="#000000" />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: light)"
      content="#fff"
    />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: dark)"
      content="#000"
    />
    <meta name="generator" content={Astro.generator} />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- google font css -->
    <AstroFont
      config={[
        {
          src: [],
          preload: false,
          display: "swap",
          name: fontPrimary!,
          fallback: "sans-serif",
          cssVariable: "font-primary",
          googleFontsURL: `https://fonts.googleapis.com/css2?family=${pf}&display=swap`,
        },
        {
          src: [],
          preload: false,
          display: "swap",
          name: fontSecondary!,
          fallback: "sans-serif",
          cssVariable: "font-secondary",
          googleFontsURL: `https://fonts.googleapis.com/css2?family=${sf}&display=swap`,
        },
        {
          src: [],
          preload: false,
          display: "swap",
          name: fontTertiary!,
          fallback: "sans-serif",
          cssVariable: "font-tertiary",
          googleFontsURL: `https://fonts.googleapis.com/css2?family=${tf}&display=swap`,
        },
      ]}
    />

    <!-- responsive meta -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=5"
    />

    <!-- title -->
    <title>
      {plainify(meta_title ? meta_title : title ? title : config.site.title)}
    </title>

    <!-- canonical url -->
    {canonical && <link rel="canonical" href={canonical} item-prop="url" />}

    <!-- noindex robots -->
    {noindex && <meta name="robots" content="noindex,nofollow" />}

    <!-- meta-description -->
    <meta
      name="description"
      content={plainify(
        description ? description : config.metadata.meta_description
      )}
    />

    <ClientRouter />

    <!-- author from config.json -->
    <meta name="author" content={config.metadata.meta_author} />

    <!-- og-title -->
    <meta
      property="og:title"
      content={plainify(
        meta_title ? meta_title : title ? title : config.site.title
      )}
    />

    <!-- og-description -->
    <meta
      property="og:description"
      content={plainify(
        description ? description : config.metadata.meta_description
      )}
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content={`${config.site.base_url}/${Astro.url.pathname.replace("/", "")}`}
    />

    <!-- twitter-title -->
    <meta
      name="twitter:title"
      content={plainify(
        meta_title ? meta_title : title ? title : config.site.title
      )}
    />

    <!-- twitter-description -->
    <meta
      name="twitter:description"
      content={plainify(
        description ? description : config.metadata.meta_description
      )}
    />

    <!-- og-image -->
    <meta
      property="og:image"
      content={`${config.site.base_url}${image ? image : config.metadata.meta_image}`}
    />

    <!-- twitter-image -->
    <meta
      name="twitter:image"
      content={`${config.site.base_url}${image ? image : config.metadata.meta_image}`}
    />
    <meta name="twitter:card" content="summary_large_image" />
    
    <!-- Crisp Chat Widget -->
    <script type="text/javascript">
      window.$crisp=[];
      window.CRISP_WEBSITE_ID="9e07a612-0362-4a6e-837f-b472a22eec8b";
      (function(){
        d=document;
        s=d.createElement("script");
        s.src="https://client.crisp.chat/l.js";
        s.async=1;
        d.getElementsByTagName("head")[0].appendChild(s);
      })();
    </script>
  </head>
  <body>
    <TwSizeIndicator />
    <Header />
    <main id="main-content">
      <div class="relative bg-top">
        <div
          class="absolute w-full top-0 left-1/2 -z-40 transform -translate-x-1/2 translate-y-[-68%] sm:translate-y-[-60%] md:translate-y-[-58%] lg:translate-y-[-65%]"
        >
          <ImageMod
            data-aos="fade-up-sm"
            src="/images/base-bg.png"
            alt="background"
            class="w-full"
            width={0}
            height={0}
            quality="max"
          />
        </div>
      </div>
      <slot />
    </main>
    <script>
      import AOS from "aos";

      function aosInit() {
        AOS.init({
          duration: 600,
          once: true,
        });
      }

      aosInit();
      document.addEventListener("astro:after-swap", aosInit);
    </script>
    <Footer />
  </body>
</html>
