---
import dateFormat from "@/lib/utils/dateFormat";
import ImageMod from "./components/ImageMod.astro";

const { post } = Astro.props;

const { Content } = await post.render();
const { title, author, author_image, image, date } = post.data;
---

<section class="section bg-text-light pb-0">
  <div class="container">
    <h1 class="text-center pb-7 text-balance" set:html={title} />
    <div class="flex items-center justify-center gap-10 pb-24 xl:pb-28">
      <div class="flex items-center gap-2">
        <img
          src={author_image}
          alt="Author Image"
          class="w-10 h-10 rounded-full"
        />
        <p class="text-black font-medium" set:html={author} />
      </div>
      <p class="text-text-light">{dateFormat(date)}</p>
    </div>
    <div class="row justify-center">
      <div class="lg:col-10">
        <ImageMod
          src={image}
          alt="Blog Image"
          width={0}
          height={440}
          class="w-full aspect-[2.21/1] object-cover rounded-lg"
        />
      </div>
    </div>
  </div>
</section>

<section class="section pb-0">
  <div class="container">
    <div class="row justify-center">
      <div class="lg:col-9">
        <article>
          <div class="content">
            <Content />
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
