---
import Card from "@/components/career/Card.astro";
import JobCard from "@/components/career/JobCard.astro";
import Join from "@/components/career/Join.astro";
import Faq from "@/components/Faq.astro";
import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import CallToAction from "@/partials/CallToAction.astro";
import type { CollectionEntry } from "astro:content";
import { getEntry } from "astro:content";

const careerIndex = (await getEntry(
  "career",
  "-index"
)) as CollectionEntry<"career">;
const { title, meta_title, description, hero, join } = careerIndex.data;

const jobs = await getSinglePage("career");

const call_to_action = (await getEntry(
  "ctaSection",
  "call-to-action"
)) as CollectionEntry<"ctaSection">;
---

<Base title={title} meta_title={meta_title} description={description}>
  {hero && <Card hero={hero} />}

  <Join join={join} />

  <section class="section pt-0">
    <div class="container">
      <h3 class="text-center mb-14" data-aos="fade-up-sm">Job Openings</h3>
      <div class="row justify-center">
        {jobs.map((job, index) => <JobCard job={job} index={index} />)}
      </div>
    </div>
  </section>

  <Faq />

  <CallToAction call_to_action={call_to_action.data} />
</Base>
